<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css/normalize.min.css">	
	<title>Focus: Productivity gamified 🚀🎮</title>
	<meta name="description" content="Pomodoro timer app with to-do list, achievements and music">
	<meta property="og:title" content="Focus: Productivity gamified">
	<meta property="og:description" content="Pomodoro timer app with to-do list, achievements and music">
	<meta property="og:title" content="https://focus-9eqm.onrender.com/">
	<meta property="og:image" content="https://focus-9eqm.onrender.com/ogp.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
	<link rel="manifest" href="/icons/site.webmanifest">
	<link rel="shortcut icon" href="/icons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Focus">
	<meta name="application-name" content="Focus">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/icons/browserconfig.xml">
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" />
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000000" />
	{{{_sections.head}}}
</head>
<body>
	{{{body}}}
</body>
</html>	