{{#section 'head'}}
    <meta name="robots" content="noindex">
	<link rel="stylesheet" href="/startpage.css">
{{/section}}
<h1>Your account has been successfully deleted.</h1>
<p>Your user data has also been deleted from our database.</p>
<p>Any further queries can be addressed to the webmaster at <a href="ggohnchs@gmail.com">ggohnchs@gmail.com</a>.</p>