{{#section "head"}}
	<link rel="stylesheet" href="/startpage.css" />
{{/section}}
<h1>An Error Occurred</h1>
<p>Error message: {{err}}</p>
<button>Go back to previous page</button>
<script src="/goBack.js"></script>