{{#section 'head'}}
	<link rel="stylesheet" href="/intro.css">
{{/section}}
<h1>Focus: Productivity gamified 🚀🎮</h1>
<h2>
	<a href="/sign-up">Sign Up</a>
</h2>
<h2>
	<a href="/login">Log In</a>
</h2>
<h2>
	Screenshots
</h2>
<div id="screenshots">
	<img src="/home.png" alt="Home page screenshot">
	<img src="/acvm.png" alt="Achievement page screenshot">
</div>
<h2>Features</h2>
<ul>
	<li>Keep track of tasks with a to-do list</li>
	<li>Unlock character achievements upon reaching total focus time milestones</li>
	<li><strong>Account system that saves your data across multiple devices</strong></li>
	<li>Dark mode available for maximum viewing comfort</li>
	<li>Listen to (Lofi) music for concentration</li>
	<li>User data is kept private and secure with industry-grade encryption (see privacy policy)</li>
</ul>
<h2>Image/Personality Credits</h2>
<ul>
	<li>Instagram @stinkwalker</li>
	<li>Instagram @fatfatmillycat</li>
	<li>Instagram @monkeycatluna</li>
	<li><a href="https://kabochan.blog.jp/">Kabosu-chan's blog</a></li>
	<li><a href="https://streetcat.wiki/index.php/Main_Page">Hello Street Cat Wiki</a></li>
	<li>Please email me if you want to be added to this list</li>
</ul>
<h2>Contact webmaster</h2>
<a href="mailto:ggohnchs@gmail.com">Email: ggohnchs@gmail.com</a>
<span>Focus is made by Gilbert</span>
<a href="/privacy">Privacy Policy</a>
<script src="/install.js"></script>
