<!DOCTYPE html>
{{#section 'head'}}
	<meta name="robots" content="noindex">
	<link rel="stylesheet" href="/startpage.css">
	<meta http-equiv="refresh" content="3; url=/">
{{/section}}
	<h1>Successful log out</h1>
	<span>You will be redirected back to the start page in 3 seconds.</span>