<!DOCTYPE html>
{{#section 'head'}}
	<meta name="robots" content="noindex">
	<link rel="stylesheet" href="/startpage.css">
{{/section}}
	<h1>Successful log out</h1>
	<span>You will be redirected back to the login page in 3 seconds.</span>