{{#section 'head'}}
	<link rel="stylesheet" href="/startpage.css">
{{/section}}
<header>
	<a href="/">Focus: Productivity gamified</a>
</header>
<h1>Log into Focus</h1>
<form action="/login" method="post">
	<label for="username">Username:</label>
	<input type="text" autocomplete="username" id="username" name="username" pattern="[^\s]+" minlength="1" maxlength="64" required spellcheck="false">
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" autocomplete="current-password" pattern="[^\s]+" minlength="1" maxlength="72" required spellcheck="false">
	{{!-- decrease minlength from 8 to 1 for legacy accounts - only --}}
	<input type="submit" value="Submit">
</form>
<span>
	Please provide a username (1 to 64 characters) AND password (8 to 72 characters). No spaces are allowed.
</span>
<h2>No account?</h2>
<a href="/sign-up">Sign Up</a>
<h2>Contact webmaster</h2>
<a href="mailto:ggohnchs@gmail.com">Email: ggohnchs@gmail.com</a>
<span>Focus is made by Gilbert</span>
<a href="/privacy">Privacy Policy</a>
<script src="/install.js"></script>
