{{#section "head"}}
	<link rel="stylesheet" href="/startpage.css" />
{{/section}}
<h1>Privacy Policy</h1>
<h2>Data collection and retention</h2>
<ol>
	<li>When you create an account, your username and password are securely
		stored in our database solely for authentication purposes.</li>
	<li>Your usage of Focus with an account involves the recording and storage
		of your focus history and to-do list in our database. This data is
		essential for providing you with our service.</li>
	<li>Upon logging in, a cookie is generated in your browser to facilitate
		authentication during future uses of our app.</li>
	<li>You have the right to request a copy of your user data upon identity
		verification. To initiate this request, please click the "Request User
		Data" button located at the bottom of the dashboard.</li>
	<li>You have the right to terminate your use of our service at any time by
		deleting your account. Upon account deletion, all copies of your user
		data will be promptly and permanently removed from our systems.</li>
</ol>
<h2>Security notice</h2>
<p>Your security is paramount to us. We utilize industry-standard encryption
	protocols, ensuring that all data transmission between your device and our
	servers is encrypted using HTTPS. Additionally, when you create an account,
	your password undergoes a one-way hashing process before being stored in our
	database. This means that even we cannot access your plaintext password.
	These measures are implemented to safeguard your credentials and protect
	your account from unauthorized access.
</p>
<p>Any revisions to the privacy policy can be found on
	<a href="https://focus-9eqm.onrender.com/privacy">http://focus-9eqm.onrender.com/privacy</a>.
	We encourage you to review these updates to stay informed about how your
	data is collected, used, and protected.</p>
<a href="/">Go Home</a>